name: Link Check

on:
  pull_request:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 6 * * 1" # lunes 06:00 UTC

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check links with lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: >
            --no-progress
            --verbose
            --accept 200-399
            --timeout 20s
            --exclude-mail
            **/*.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
